/* Arquivo de Estilos Globais - estilos.css
  Coloque aqui todas as regras de CSS que não são do Tailwind
  e que você quer compartilhar entre as páginas.
*/

/* Define a fonte padrão para todo o corpo da página */
body {
    font-family: 'Inter', sans-serif;
}

/* Cria a classe especial para o efeito de gradiente no texto */
.gradient-text {
    /* Garante que a cor do texto seja transparente para anular heranças */
    color: transparent;
    
    background: linear-gradient(to right, #4f46e5, #ec4899);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

